@{
	ViewData["Title"] = "Home Page";
}

<table class="table">
	<thead>
		<tr>
			<th>Topic</th>
			<th>Page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Razor Page Syntax</td>
			<td>
				<a asp-controller="RazorPage" asp-action="Index">Razor Page Syntax</a>
			</td>
		</tr>
	</tbody>
</table>