@{
	ViewData["Title"] = "Home Page";
}

<table class="table">
	<thead>
		<tr>
			<th>Topic</th>
			<th>Page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Razor Page Syntax</td>
			<td>
				<a asp-controller="RazorPage" asp-action="Index">Razor Page Syntax</a>
			</td>
		</tr>
		<tr>
			<td>CRUD with Form</td>
			<td>
				<a asp-controller="Record" asp-action="Index">Record</a>
			</td>
		</tr>
		<tr>
			<td>Base CRUD</td>
			<td>
				<a asp-controller="Product" asp-action="Index">Product</a>
			</td>
		</tr>
		<tr>
			<td>Update Multiple Item at Once</td>
			<td>
				<a asp-controller="Order" asp-action="Index">Order</a>
			</td>
		</tr>
		<tr>
			<td>Entity Framework
				<ul>
					<li>One to One</li>
					<li>One to Many</li>
					<li>Many to Many</li>
				</ul>
			</td>
			<td>
				<a asp-controller="EntityFramework" asp-action="Index">Entity Framework</a>
			</td>
		</tr>
		<tr>
			<td>Entity Framework
				<ul>
					<li>Order Summary</li>
				</ul>
			</td>
			<td>
				<a asp-controller="OrderSummary" asp-action="Index">Order Summary</a>
			</td>
		</tr>
		<tr>
			<td>Razor Page Best Practice</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>Folder Structure Best Practice</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>