@{
	ViewData["Title"] = "Home Page";
}

<table class="table">
	<thead>
		<tr>
			<th>Category</th>
			<th>Detail</th>
			<th>Page</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Razor Page Syntax</td>
			<td></td>
			<td>
				<a asp-controller="RazorPage" asp-action="Index">Razor Page Syntax</a>
			</td>
		</tr>
		<tr>
			<td>Form</td>
			<td></td>
			<td>
				<a asp-controller="Record" asp-action="Index">Record</a>
			</td>
		</tr>
		<tr>
			<td>Base CRUD</td>
			<td></td>
			<td>
				<a asp-controller="Product" asp-action="Index">Product</a>
			</td>
		</tr>
		<tr>
			<td>Update Multiple Item at Once</td>
			<td></td>
			<td>
				<a asp-controller="Order" asp-action="Index">Order</a>
			</td>
		</tr>
		<tr>
			<td>Entity Framework</td>
			<td>
				<ul>
					<li>One to One</li>
					<li>One to Many</li>
					<li>Many to Many</li>
				</ul>
			</td>
			<td>
				<a asp-controller="EntityFramework" asp-action="Index">Entity Framework</a>
			</td>
		</tr>
		<tr>
			<td>
				Entity Framework
			</td>
			<td>
				<ul>
					<li>
						Simple Groupby
						<ul>
							<li>use AsEnumerable() before GroupBy()</li>
							<li>GroupBy just make group including children</li>
							<li>calculate in other place, groupBy focus on grouping only</li>
						</ul>
					</li>
				</ul>
			</td>
			<td>
				<a asp-controller="RecordSummary" asp-action="Index">Record Summary</a>
			</td>
		</tr>
		<tr>
			<td>
				Entity Framework
			</td>
			<td>
				<ul>
					<li>Order Summary</li>
				</ul>
			</td>
			<td>
				<a asp-controller="OrderSummary" asp-action="Index">Order Summary</a>
			</td>
		</tr>
		<tr>
			<td>
				Entity Framework
			</td>
			<td>
				<ul>
					<li>GroupBy</li>
				</ul>
			</td>
			<td>
				<a asp-controller="RecordSummary" asp-action="GroupBy">GroupBy</a>
			</td>
		</tr>
		<tr>
			<td>
				Entity Framework
			</td>
			<td>
				<ul>
					<li>GroupBy OrderBy</li>
				</ul>
			</td>
			<td>
				<a asp-controller="RecordSummary" asp-action="GroupByOrderBy">GroupBy OrderBy</a>
			</td>
		</tr>

		<tr>
			<td>
				Linq Samples
			</td>
			<td>
			</td>
			<td>
				<a asp-controller="Linq" asp-action="Index">Linq Sample</a>
			</td>
		</tr>
		<tr>
			<td>
				Razor Page Best Practice
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>Folder Structure Best Practice</td>
			<td></td>
			<td>
			</td>
		</tr>
	</tbody>
</table>