@model IEnumerable<Product>
@{
	var products = Model;
}

<a class="btn btn-primary text-light"
   asp-area=""
   asp-controller="Product"
   asp-action="Create">Create Product</a>

@foreach (var product in products)
{
	<p>@product.Name</p>
}