@model List<Order>
@{
	var orders = Model;
}

<h1>Order</h1>

<a class="btn btn-primary text-light"
   asp-area=""
   asp-controller="Order"
   asp-action="Create">Create Order</a>

<a class="btn btn-success text-light"
   asp-area=""
   asp-controller="Order"
   asp-action="Update">Update Order</a>

@foreach (var order in orders)
{
	<h1>OrderId: @order.Id</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Item Id</th>
				<th>Name</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in order.OrderItems)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Product.Name</td>
					<td>@item.Quantity</td>
				</tr>
			}
		</tbody>
	</table>
}