@using asp_dot_net_mvc_demo.Controllers

@model IOrderedEnumerable<OrderListGroupBySummaryId>

@{
	var orderGroupList = Model;
}

<h1>Order Summary</h1>

<a asp-action="CreateSummaryOrder">Create Summary Order</a>

@foreach (var orderGroup in orderGroupList)
{
	<h2>Order Summary</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Summary Order Id</th>
				<th>Order Id</th>
				<th>Product Name</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var order in orderGroup.OrderList)
			{
				@foreach (var orderItem in order.OrderItems)
				{
					var orderId = orderGroup.OrderId;
					var summaryId = orderGroup.SummaryId;
					var name = orderItem.Product.Name;
					var quantity = orderItem.Quantity;
					<tr>
						<td>@summaryId</td>
						<td>@orderId</td>
						<td>@name</td>
						<td>@quantity</td>
					</tr>
				}
			}
		</tbody>
	</table>
}